apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: default
data:
  DB_HOST: "aurora-global-seoul-writer.c0q1q5z1q5z1.ap-northeast-2.rds.amazonaws.com"
  DB_PORT: "5432"
  DB_NAME: "corpportal"
