apiVersion: batch/v1
kind: Job
metadata:
  name: check-database
  namespace: default
spec:
  ttlSecondsAfterFinished: 300
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: mysql-check
        image: mysql:8.0
        command:
        - /bin/bash
        - -c
        - |
          mysql -h $DB_HOST -u $DB_USER -p$DB_PASSWORD corpportal -e "SHOW TABLES;"
        env:
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: DB_HOST
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: backend-secret
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: backend-secret
              key: DB_PASSWORD
